@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

/*********************Landing Page*/
body,
html {

    height: 100%;
}



.name {
    font-size: 60px;
    color: black;
}

.p1 {
    font-size: 35px;
    color: black;
    margin-left: 4%;
}

.name-container {
    min-height: 100vh;
    min-width: 100vw; 
    background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6); 
}

/*********************************Nav*/

.nav-link {
    text-align: right;


}

.navbar-light .navbar-toggler {
    background-color: #5d7db7;
    transition: 0.5s;
    transition-timing-function: ease-in-out;

}

.navbar-light .navbar-toggler:hover {
    background-color: #5d7db7;
}



/********************************/

.name-border {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 20%;
    right: 20%;

    width: 60%;
    
    ;
    

}

.name{
    font-family: 'Orbitron', sans-serif;
}

span.border {
    border: none;
}

/*******************************************************/

/**********************************Game Page*/

.game-section {
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 20%;
    min-height: 40vh;
    min-width: 100vw;
   
    background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6); 
}

.game-heading{
    font-family: 'Orbitron', sans-serif;
    padding-top: 10%;

}

.game-rules{
    font-size: 25px;

}

.score-row{
    padding-bottom: 15px;
}
.restart.fa-repeat{
    font-size: 30px;
}
.game-card{
    padding: 5%;
    

}

.game-container {
    padding-top: 20%;
}

.fa.game-card{
    font-size: 40px;
    margin: 2px;
    text-align: center;
    background-color: #5d7db7;
    border-radius: 25px;
}

/*****************************************************************************/

/***********************************Contact Page*/

.form-section {
    
    text-align: center;
    min-height: 60vh;
    padding-top: 25%;
    padding-right: 25%;
    background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6); 
}
.col.form-section{
    padding-left: 25%;
}
.contact-heading{
 font-family: 'Orbitron', sans-serif;
 padding-right: 30%;
    

}

form {
    padding: 5%;
    width: 50vw;
    
   
}






/******************************************************************************/